@page "/"

<PageTitle>Index</PageTitle>

<div class="section">
    <div class="pageitem">
        <h3>Welcome to our library</h3>
        <br />
        <p><em>Books are a uniquely portable magic.</em></p>
        <br />
    </div>
    <div class="pageitem">
        <div class="col">
            <img src="https://i.postimg.cc/RhC5MKz5/image1.jpg"><br>
        </div>
        <div class="col">
            <img src="https://i.postimg.cc/d31gyFNL/Webp-net-resizeimage.png"><br>
        </div>
        <div class="col">
            <img src="https://i.postimg.cc/d08H7p5G/Webp-net-resizeimage-3.jpg"><br>
        </div>
    </div>
    <div class="pageitem">
        <p>
            A library in the middle of a community is a cross between an emergency exit, a life-raft and a festival. They are cathedrals of the mind; hospitals of the soul; theme parks of the imagination. On a cold rainy island, they are the only sheltered public spaces where you are not a consumer, but a citizen instead. —Caitlin Moran

            A public library is the most democratic thing in the world. What can be found there has undone dictators and tyrants. —Doris Lessing

            Libraries store the energy that fuels the imagination. They open up windows to the world and inspire us to explore and achieve, and contribute to improving our quality of life. Libraries change lives for the better. —Sidney Sheldon
        </p> 
    </div>
    <br>
      <div class="pageitem">
        <div class="col">
            <img src="https://i.postimg.cc/RhC5MKz5/image1.jpg"><br>
        </div>
        <div class="col">
            <img src="https://i.postimg.cc/d31gyFNL/Webp-net-resizeimage.png"><br>
        </div>
        <div class="col">
            <img src="https://i.postimg.cc/d08H7p5G/Webp-net-resizeimage-3.jpg"><br>
        </div>
    </div>
</div>